<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Dating App * * * * * * * * * * * -->
<!-- * * * * * * * * * * First Angular + ASP .NET Core * * * * * * * * * * -->
<!-- * * * * * * * * * * project by @aridamaru * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <app-nav></app-nav>
    <router-outlet></router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Social Network * * * * * * * * * * * -->
<!-- * * * * * * * * * * First Angular + ASP .NET Core * * * * * * * * * * -->
<!-- * * * * * * * * * * project by @aridamaru * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->